<h1>Carrito</h1>
<div>
    <h2>Producto(s)</h2>
    {{#each cart.products}}
    <ul>
        <li>{{this.product.title}} (Cantidad: {{this.quantity}})</li>
    </ul>
    {{/each}}
</div>
<button id="purchaseCart" data-url="/api/carts/{{cart._id}}/purchase">Finalizar Compra</button>
<a href="/products"><button>Volver a la Tienda</button></a>

<script src="/static/js/cart.js"></script>