<div>
    <h1>Bienvenido a la API del E-commerce</h1>
    <p>Esta es una API realizada como el proyecto final del curso de Programación Backend de CoderHouse.</p>
    <a href="/login"><button>Probar vistas</button></a>
    <a href="/api/docs"><button>Ver documentación</button></a>
</div>