<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label >Email</label>
        <input name="email">
        <br>
        <label >Contrase単a</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <a href="/api/sessions/github"><button>Entrar con Github</button></a>
    <p>多No estas registrado? <a href="/register">Registrate aqui</a></p>
    <p>多Olvidaste tu contrase単a? <a href="/recoverpassword">Recuperala aqui</a></p>
</div>
<script src="/static/js/login.js"></script>