<div>
    <h1>Recuperar Contraseña</h1>
    <form action="/api/users/recoverpassword" method="GET">
        <label>Email</label>
        <input name="email">
        <br>
        <button type="submit">Restablecer Contraseña</button>
    </form>
</div>
