<div>
    <h1>Recuperar Contraseña</h1>
    <form id="restartPasswordForm">
        <label>Email</label>
        <input name="email" value="{{email}}">
        <br>
        <label>Nueva Contraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>

</div>
<script src="/static/js/restartPassword.js"></script>